*:after,
*:before {
  margin: 0;
  padding: 100;
  box-sizing: border-box;
}
h1 {
  padding: 15px;
}

a {
  color: #0078e8;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #005a9e;
    transition: all 0.3s;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 5rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #f1f1f1;
  margin: 0;
  box-sizing: border-box;
}

.content {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
}

.post {
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
    box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.04);
    transform: translateY(-3px);
    transition: all 0.5s;
  }
}

.menu {
  background-color: #000;
  padding: 1.5rem;

  a {
    color: #fff;

    &:hover {
      color: #e4e5e7;
      transition: all 0.3s;
    }
  }
}

@media (min-width: 600px) {
  .content:not(:has(.single-post)) {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  }
}
