#sessao-bemvindo {
  padding-left: 0;

  .banner {
    height: 500px;
    background-image: url(../img/banner2.jpg);
    background-position: center;
    background-size: cover;
  }

  .sessao-bemvindo-content {
    padding-left: 50px;

    h1 {
      margin-top: 70px;
    }
  }

  &::after,
  #sessao-sobre::after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 100px;
  }

  .sessao-minibanner {
    width: 300px;
    height: 400px;
    background-image: url("../img/banner3.jpg");
    background-position: center;
    background-size: cover;
    float: left;
  }

  .sessao-descricao {
    position: absolute;
    left: 370px;
    padding-right: 30px;

    p {
      line-height: 2;
      font-size: 16px;
      margin-bottom: 30px;
      margin-left: 25px;
    }
    .sessao-bemvindo-btn,
    form input[type="submit"] {
      background-color: #006599;
      color: #fff;
      text-decoration: none;
      padding: 20px 40px;
      transition: 0.5s;
      display: block;
      width: 100px;
      text-align: center;
      border: none;
      cursor: pointer;
      margin-left: 25px;

      &:hover {
        background-color: #2790c6;
      }
    }
  }
}
